@import "../index.scss";

.List {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .container {
    width: 100%;
    div {
      width: $container-width;
      margin: auto;
    }
    &:nth-child(odd) {
      background: white;
    }
    &:nth-child(even) {
      background: darken($background,2%);
    }
  }
}