@import "../index.scss";

.Pagination {
  display: flex;
  justify-content: center;
  button {
    background: white;
    border: $border;
    border-right: none;
    padding: $padding-med;
    margin: $padding-large 0;
    cursor: pointer;
    &:hover {
      background: $background;
    }
  }
  .current {
    font-weight: bold;
  }
  button:last-child {
    border: $border;
  }
}