.Repo {
  width: 100%;
  text-align: left;
  padding: 0.7em;
  .description {
    font-size: 0.7em;
  }
  .pull-right {
    margin-left: 0.5em;
    float: right;
  }
  .fade {
    opacity: 0.2;
  }
  a {
    color: black;
  }
}