@import "../index.scss";

.Repo {
  width: 100%;
  text-align: left;
  padding: $padding-med;
  .description {
    font-size: $padding-med;
  }
  .pull-right {
    margin-left: $padding-small;
    float: right;
  }
  .fade {
    opacity: 0.2;
  }
  a {
    color: black;
  }
}