$border: 1px solid rgb(206, 206, 206);
$shadow: 2px 2px 1px 0px rgba(0,0,0,0.05);
$buttonColor: #456ab3;

.Search {
  display: flex;
  width: 100%;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
  input {
    padding: 0.5em;
    width: -webkit-fill-available;
  }
  input, select, button {
    background: #fff;
    border: $border;
    border-right: none;
    padding: 0.8em;
  }
  select {
    text-transform: capitalize;
  }
  button {
    background: $buttonColor;
    border: $buttonColor;
    padding: 0 1em;
  }
}